$bpDesktop: 1440px;
$bpLaptop: 1199px;
$bpTablet: 991px;
$bpMobile: 767px;
$bpPhone: 480px;

// set font
$baseFont: "Inter", "Arial", sans-serif;

// set setting color
$pageColor: #ffffff;
$primaryColor: #DA0303;
