html, body {
  background: $pageColor;
  font-size: 16px;
  line-height: 1.3;
  font-family: $baseFont;
  overflow-x: hidden;
  position: relative;
  color: #202020;

  @media (max-width: $bpMobile) {
    font-size: 14px;
  }
}

main {
  position: relative;
  padding-top: 84px;

  @media (max-width: $bpMobile) {
    padding-top: 71px;
  }

  @media (max-width: $bpPhone) {
    padding-top: 63px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: inherit;
  font-weight: 900;
  text-transform: uppercase;
}

h1, .h1 {
  font-size: 34px;

  @media (max-width: $bpTablet) {
    font-size: 30px;
  }

  @media (max-width: $bpMobile) {
    font-size: 26px;
  }

  @media (max-width: $bpPhone) {
    font-size: 24px;
  }
}

h2, .h2 {
  font-size: 26px;

  @media (max-width: $bpTablet) {
    font-size: 24px;
  }

  @media (max-width: $bpMobile) {
    font-size: 22px;
  }

  @media (max-width: $bpPhone) {
    font-size: 20px;
  }
}

h3, .h3 {
  font-size: 22px;
  @media (max-width: $bpTablet) {
    font-size: 20px;
  }

  @media (max-width: $bpMobile) {
    font-size: 18px;
  }

  @media (max-width: $bpPhone) {
    font-size: 16px;
  }
}

h4, .h4 {
  font-size: 20px;


  @media (max-width: $bpTablet) {
    font-size: 18px;
  }

  @media (max-width: $bpMobile) {
    font-size: 16px;
  }

  @media (max-width: $bpPhone) {
    font-size: 15px;
  }
}

h5, .h5 {
  font-size: 18px;


  @media (max-width: $bpTablet) {
    font-size: 17px;
  }

  @media (max-width: $bpMobile) {
    font-size: 16px;
  }

  @media (max-width: $bpPhone) {
    font-size: 14px;
  }
}

p {
  line-height: 1.5;
  margin-bottom: .5em;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;
  transition: .2s;
  color: inherit;
}

img {
  max-width: 100%;
}

strong, b {
  font-weight: bold;
}

input, button, textarea, select {
  outline: none;
}

p::selection,
span::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
em::selection,
div::selection,
a::selection,
img::selection,
ul::selection,
li::selection,
table::selection,
br::selection,
sup::selection,
input::selection,
b::selection,
ins::selection,
strong::selection{
  background: rgba($primaryColor, .2);
}