@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?oc1nsg');
  src:  url('fonts/icomoon.eot?oc1nsg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?oc1nsg') format('truetype'),
    url('fonts/icomoon.woff?oc1nsg') format('woff'),
    url('fonts/icomoon.svg?oc1nsg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock-closed:before {
  content: "\e900";
}
.icon-wallet:before {
  content: "\e901";
}
.icon-exchange:before {
  content: "\e902";
}
.icon-code:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
.icon-stats-bars:before {
  content: "\e905";
}
.icon-icon-whatsapp:before {
  content: "\e906";
}
.icon-icon-tiktok:before {
  content: "\e907";
}
.icon-icon-check:before {
  content: "\e908";
}
.icon-icon-facebook:before {
  content: "\e909";
}
.icon-storage:before {
  content: "\e90a";
}
.icon-icon-instagram:before {
  content: "\e90b";
}
.icon-like:before {
  content: "\e90c";
}
.icon-guard:before {
  content: "\e90d";
}
.icon-rocket:before {
  content: "\e90e";
}
.icon-web:before {
  content: "\e90f";
}
.icon-icon-star:before {
  content: "\e910";
}
.icon-icon-telegram:before {
  content: "\e911";
}
.icon-icon-twitter:before {
  content: "\e912";
}
.icon-icon-vk:before {
  content: "\e913";
}
.icon-visa:before {
  content: "\e914";
}
.icon-icon-youtube:before {
  content: "\e915";
}
.icon-mastercard:before {
  content: "\e916";
}
.icon-icon-arrow-down:before {
  content: "\e917";
}
.icon-envelope:before {
  content: "\e918";
}
.icon-icon-heart:before {
  content: "\e935";
}
.icon-icon-arrow-back:before {
  content: "\e93c";
}
.icon-phone:before {
  content: "\e919";
}
.icon-settings:before {
  content: "\e91a";
}
.icon-dialog:before {
  content: "\e91b";
}
