@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?a9b6c5');
  src:  url('fonts/icomoon.eot?a9b6c5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?a9b6c5') format('truetype'),
    url('fonts/icomoon.woff?a9b6c5') format('woff'),
    url('fonts/icomoon.svg?a9b6c5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-code:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}
.icon-stats-bars:before {
  content: "\e902";
}
.icon-icon-whatsapp:before {
  content: "\e903";
}
.icon-icon-tiktok:before {
  content: "\e904";
}
.icon-icon-check:before {
  content: "\e905";
}
.icon-icon-facebook:before {
  content: "\e906";
}
.icon-storage:before {
  content: "\e907";
}
.icon-icon-instagram:before {
  content: "\e908";
}
.icon-like:before {
  content: "\e909";
}
.icon-icon-star:before {
  content: "\e90d";
}
.icon-icon-telegram:before {
  content: "\e90e";
}
.icon-icon-twitter:before {
  content: "\e910";
}
.icon-icon-vk:before {
  content: "\e912";
}
.icon-icon-youtube:before {
  content: "\e915";
}
.icon-icon-arrow-down:before {
  content: "\e917";
}
.icon-icon-heart:before {
  content: "\e935";
}
.icon-icon-arrow-back:before {
  content: "\e93c";
}
.icon-guard:before {
  content: "\e90a";
}
.icon-rocket:before {
  content: "\e90b";
}
.icon-web:before {
  content: "\e90c";
}
