.form {

  &.form-action {
    width: 800px;
    max-width: 100%;
    margin: 0 auto 30px;

    &:last-child {
      margin: 0 auto;
    }

    .form__wrapper {
      display: flex;
      margin: 0 -15px -15px;

      @media (max-width: $bpPhone) {
        flex-wrap: wrap;
        height: auto;
      }
    }

    .input__fluid {
      margin: 0 15px 15px;
      display: flex;
      align-items: center;
      flex: 1 1 auto;
      box-shadow: 0 0 3px rgba(0, 0, 0, .4);
      height: 50px;

      .input {
        height: 100%;
        flex: 1 1 auto;
        padding: 10px 20px;
        border: none;
        outline: none;
      }

      .select-list {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
        position: relative;
        cursor: pointer;

        .list__item {
          min-height: 100%;
        }

        .list__item-link {
          width: 50px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          background: #494d50;

          .icon {
            font-size: 22px;
          }
        }

        &.-active {
          overflow: visible;
        }
      }

      .select-arrow {
        background: #494d50;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 8px 0 5px;
        cursor: pointer;

        .icon {
          font-size: 12px;
          color: #fff;
          transition: .2s;
        }

        &.-active {
          .icon {
            transform: rotate(180deg);
          }
        }
      }

      .select {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: -1;
      }
    }

    .form__button {
      height: 50px;
      margin: 0 15px 15px;

      .link {
        height: 100%;
        border: none;
        font-size: 14px;
      }

      @media (max-width: $bpPhone) {
        width: 100%;

        .link {
          width: 100%;
        }
      }
    }
  }
}