.tabs {

  &.tabs-about {

    .tabs {

      &__header {
        margin-bottom: 20px;

        .list {
          display: flex;

          .list__item {
            width: 20%;

            &.-active, &:hover {
              border-bottom: 2px $primaryColor solid;

              .list__item-link {
                .icon {
                  color: $primaryColor;
                }
                .text {
                  color: $primaryColor;
                }
              }
            }
          }

          .list__item-link {
            display: block;
            padding: 20px;
            text-align: center;

            .icon {
              font-size: 60px;
              color: #898d9a;
              display: block;
              margin-bottom: 15px;
              transition: .2s;

              &:last-child {
                margin-bottom: 0;
              }
            }

            .text {
              display: block;
              font-weight: 600;
              transition: .2s;
            }

            @media (max-width: $bpLaptop) {
              padding: 17px;

              .icon {
                font-size: 50px;
              }
            }

            @media (max-width: $bpTablet) {
              padding: 15px;

              .icon {
                font-size: 40px;
              }
            }

            @media (max-width: $bpMobile) {
              padding: 15px 12px;

              .icon {
                font-size: 35px;
              }
            }

            @media (max-width: 550px) {
              padding: 10px;

              .icon {
                font-size: 25px;
              }
            }

            @media (max-width: $bpPhone) {
              .text {
                display: none;
              }
            }
          }
        }
      }


      &__item {
        display: none;

        &.-active {
          display: block;
        }

        .item {
          &__wrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin: 0 -20px -20px;
          }

          &__image, &__content {
            width: calc(50% - 40px);
            margin: 0 20px 20px;

            @media (max-width: $bpMobile) {
              width: calc(100% - 40px);
            }
          }

          &__image {
            .image {
              transition: .2s;
              &:hover {
                transform: translateY(-10px);
              }
            }

            @media (max-width: $bpMobile) {
              order: 1;
              text-align: center;
            }
          }

          &__content {
            @media (max-width: $bpMobile) {
              order: 0;
            }
          }

          &__title {
            margin-bottom: 20px;

            &:last-child {
              margin-bottom: 0;
            }
          }

          &__text, &__list {
            margin-bottom: 15px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}